
  details summary > * { 
    display: inline;
  }

  details > summary {
    cursor: pointer;
  }
  
  details > summary > * {
    display: inline;
  }
  
  details > div {
    margin-top: 0;
    padding: 0rem;
  }

  details {
    margin: 0rem;
  }
  summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  }
  summary::-webkit-details-marker {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    color: transparent;
  }
  .summaryp 
  {  font-size: 18px;
    color:rgb(70, 13, 116)

  }





  

.grid-container {
    border: 0px dotted rgb(221, 192, 244);
     display: grid;
     grid-template-columns: auto auto auto;
   background-color:  rgb(126, 99, 148);
   padding: 25px;
   gap: 10px;
 
 }
 .grid-item {
   border:0px dotted rgb(70, 13, 116);
  background-color: rgb(221, 192, 244);
   padding: 15px;
   font-size: 30px;
   text-align: center;
   font-family: 'Lucida Sans';
   
 }
 body {
  background-color: rgb(105, 116, 103);
 }

 .heading {
 text-align: center;
 font-size: 90px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(60, 64, 59);
 margin: 0px;
 padding: 0px;
 gap: 0px;
 }

 .heading2 {
  font-size: 45px;
  text-align: center;
  color:rgb(70, 13, 116);

 }



@media (max-width: 600px) {
  .grid-item
  {
    display: block;
  }
}
table { 
	width: 500px; 
	border-collapse: collapse; 
	margin:20px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: rgb(187, 164, 207);; 
	}
  tr:nth-of-type(even) { 
    background: rgb(187, 164, 207);; 
    }

  td {  
	border: 3px solid rgb(221, 192, 244);
  font-size: 18px;
  color:rgb(70, 13, 116)
  }
  

th { 
  background-color: rgb(105, 116, 103); 
	color:rgb(70, 13, 116); 
	font-weight: bold; 
  font-size: 22px;
  border: 0px solid #ffffff;
	}

td, th { 
	padding: 15px;  
	text-align: left; 
	}




/* taken from codepnen user Andor Nagy for screen responsive table
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	
	td { 
		/* Behave  like a "row" */
		
      border: 3px solid rgb(221, 192, 244);
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 16px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: rgb(70, 13, 116);
		font-weight: bold;
	}

}
