/* unvisited link */
a:link {
    color: #d325c2;
  }
  
  /* visited link */
  a:visited {
    color:   #ca93e3;
  }
  
  /* mouse over link */
  a:hover {
    color:    #a315e4;
  }
  
  /* selected link */
  a:active {
    color: rgb(119, 223, 139);;
  }

